<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Reconocimiento</title>
</head>

<body>
    <div class="container">
        <h1>Reconocimiento Facial y Emociones</h1>
        <div class="reconocimiento">
            <img id="video_feed" src="{{ url_for('video_feed') }}" alt="Video Feed" style="width: 100%;">
        </div>
        

    </div>
    <button onclick="window.location.href='/'">Inicio</button>
</body>

</html>